@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

$landing-title-font-size: 4.25rem;
$landing-subtitle-font-size: 2rem;
$default-landing-image: linear-gradient(179.1deg, #FFFFFF 0.77%, rgba(255, 255, 255, 0) 182.09%);
$default-app-font: 'Nunito', sans-serif;

// colors
$body-bg-color: rgb(17 24 39 / 1);
$azure-palette: #7C3AED;
$default-white: #fff;
$default-white-80: rgba(255, 255, 255, 0.8);
$default-font-color-white: rgb(249 250 251 / 1);
$button-background: rgb(147 51 234);