<div class="quiz-landing-view-wrapper">
  <mat-card-header class="landing-header"></mat-card-header>
  <div class="gradient-blur"></div>

  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h1>{{ LANDING_PAGE_CONSTANTS.title }}</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="quiz-card-content">
      <button mat-flat-button color="primary" (click)="onMeetMeClick()">
        <mat-icon iconPositionEnd>arrow_forward_ios</mat-icon>
        Meet Me!
      </button>
      <h5>{{ LANDING_PAGE_CONSTANTS.subtitle }}</h5>
    </mat-card-content>
  </mat-card>

  <mat-card class="quiz-features">
    <mat-card-header>
      <mat-card-title>
        <h3>{{ LANDING_PAGE_CONSTANTS.featuresTitle }}</h3>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="quiz-card-content">
      <quiz-app-feature
        [title]="FEATURES_CONTENT.feature1.title"
        [description]="FEATURES_CONTENT.feature1.description"
        [icon]="FEATURES_CONTENT.feature1.icon"
      ></quiz-app-feature>
      <quiz-app-feature
        [title]="FEATURES_CONTENT.feature2.title"
        [description]="FEATURES_CONTENT.feature2.description"
        [icon]="FEATURES_CONTENT.feature2.icon"
      ></quiz-app-feature>
      <quiz-app-feature
        [title]="FEATURES_CONTENT.feature3.title"
        [description]="FEATURES_CONTENT.feature3.description"
        [icon]="FEATURES_CONTENT.feature3.icon"
      ></quiz-app-feature>
    </mat-card-content>
  </mat-card>
</div>
