<div class="quiz-landing-view-wrapper">
  <!-- Gradient Blur Background -->
  <div class="gradient-blur"></div>

  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h1>{{ LANDING_PAGE_CONSTANTS.title }}</h1>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="quiz-card-content">
      <button mat-flat-button color="primary" routerLink="/quiz">
        <mat-icon iconPositionEnd>arrow_forward_ios</mat-icon>
        Meet Me!
      </button>
      <h5>{{ LANDING_PAGE_CONSTANTS.subtitle }}</h5>
    </mat-card-content>
  </mat-card>
</div>
