<div class="questionnaire-wrapper">
  <mat-card-header class="questionnaire-header">
    <button mat-flat-button color="primary" (click)="onBackButtonClick()">
      Back
      <mat-icon iconPositionEnd>arrow_back_ios</mat-icon>
    </button>
  </mat-card-header>
  <div class="gradient-blur"></div>

  <mat-card>
    <mat-card-header>
      <mat-card-title> </mat-card-title>
    </mat-card-header>
    <mat-card-content class="questionnaire-card-content"> </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title> </mat-card-title>
    </mat-card-header>
    <mat-card-content> </mat-card-content>
  </mat-card>
</div>
