<div class="questionnaire-view-wrapper">
  <mat-card-header class="questionnaire-header">
    <button mat-flat-button color="primary" (click)="onBackClick()">
      Back
      <mat-icon iconPositionEnd>arrow_back_ios</mat-icon>
    </button>
  </mat-card-header>
  <div class="gradient-blur"></div>

  <div class="questionnare-wrapper">
    <button
      mat-icon-button
      class="back-button questionnaire-navigating-button"
      [class.disabled]="!this.currentQuestionIndex"
      [disabled]="!this.currentQuestionIndex"
      (click)="onQuestionnaireBackClick()"
    >
      <mat-icon>arrow_back_ios</mat-icon>
    </button>
    <mat-card class="questionnare">
      <mat-card-header>
        <mat-card-title>
          <quiz-app-question [question]="currentQuestion"> </quiz-app-question>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="questionnaire-card-content">
        <!-- Answers -->
        <div class="answers-container">
          @for (answer of currentQuestion.answers; track answer.text) {
          <quiz-app-answer
            [answer]="answer"
            [isSelected]="
              this.selectedAnswers[this.currentQuestionIndex] === answer
            "
            (answerSelected)="handleAnswer($event, answer)"
          ></quiz-app-answer>
          }
        </div>
      </mat-card-content>
    </mat-card>
    <button
      mat-icon-button
      class="forward-button questionnaire-navigating-button"
      [class.disabled]="this.currentQuestionIndex === this.questions.length - 1"
      [disabled]="this.currentQuestionIndex === this.questions.length - 1"
      (click)="onQuestionnaireForwardClick()"
    >
      <mat-icon>arrow_forward_ios</mat-icon>
    </button>
  </div>
</div>
