<div class="questionnaire-view-wrapper">
  <mat-card-header class="questionnaire-header">
    <button mat-flat-button color="primary" (click)="onBackClick()">
      Back
      <mat-icon iconPositionEnd>arrow_back_ios</mat-icon>
    </button>
  </mat-card-header>

  <div class="gradient-blur"></div>

  <div class="progress-wrapper">
    <mat-icon iconPositionEnd>arrow_back_ios</mat-icon>
    <mat-progress-bar
      mode="determinate"
      [value]="progress"
      color="primary"
    ></mat-progress-bar>
    <mat-icon iconPositionEnd>arrow_forward_ios</mat-icon>
  </div>

  <div class="questionnaire-wrapper">
    <button
      mat-icon-button
      class="back-button questionnaire-navigating-button"
      [disabled]="currentQuestionIndex === 0"
      (click)="onQuestionnaireBackClick()"
    >
      <mat-icon>arrow_back_ios</mat-icon>
    </button>

    <mat-card class="questionnaire">
      <mat-card-content [class.quiz]="!isQuizResultView">
        @if(!isQuizCompleted || !isQuizResultView){
        <ng-container>
          <quiz-app-question
            [question]="questions[currentQuestionIndex]"
          ></quiz-app-question>
          <div class="answers-container">
            @for (answer of (questions[currentQuestionIndex]?.answers); track
            answer.text) {
            <quiz-app-answer
              [answer]="answer"
              [isSelected]="
                selectedAnswers[currentQuestionIndex]?.text === answer.text
              "
              [isCorrect]="answer.isCorrect"
              [isCompleted]="isQuizCompleted"
              (answerSelected)="handleAnswer(answer)"
            ></quiz-app-answer>
            }
          </div>
        </ng-container>
        } @else {
        <h2 class="summary-header">Quiz Summary</h2>
        <div class="summary-view">
          <div class="summary-list">
            @for (question of questions; track question.id; let i = $index) {
            <div class="summary-item">
              <h3>{{ question.text }}</h3>
              <div
                class="answer-status"
                [class.correct]="selectedAnswers[i]?.isCorrect"
              >
                {{ selectedAnswers[i]?.text }}
                <mat-icon>
                  {{ selectedAnswers[i]?.isCorrect ? "check" : "close" }}
                </mat-icon>
              </div>
            </div>
            }
          </div>
        </div>
        <div class="summary-footer">
          <button mat-flat-button color="primary" (click)="resetQuiz()">
            Retake
            <mat-icon>replay</mat-icon>
          </button>
        </div>
        }
      </mat-card-content>
    </mat-card>

    <button
      mat-icon-button
      class="forward-button questionnaire-navigating-button"
      [disabled]="!selectedAnswers[currentQuestionIndex]"
      (click)="onQuestionnaireForwardClick()"
    >
      <mat-icon>arrow_forward_ios</mat-icon>
    </button>
  </div>
</div>
