@import "../../../../styles/variables/variables";

:host {
    .question-container {
        h3 {
            font-family: $default-app-font;
            font-size: 1.375rem;
            color: $default-font-color-white;
        }
    }
}